@import "../../../utils/global.scss";

.forget-password {
  display: flex;
  .form-wrapper {
    -webkit-box-align: center;
    -webkit-box-pack: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1 0 0;
    form {
      max-width: 400px;
      width: 100%;
      .form-title {
        text-align: center;
        h3 {
          @include font($poppins, 28px, 500, 42px);
          margin-bottom: 8px;
        }
        p {
          @include font($poppins, 12px, 400, 18px);
          margin-bottom: 40px;
        }
      }
      .form-footer {
        display: flex;
        justify-content: space-between;
        margin-top: 8px;
      }
    }
  }
}
