$color-primary: #595fe5;
$color-white: #fff;
$color-grey: #eee;
$color-active: #7dc066;
$color-content-bg: #f5f5f5;
$color-darkgrey: #727880;
$color-neutral-light: #1b1d1f;
$color-neutral-light-300: #9da2a7;
$color-neutral-light-200: #c6c8cb;
$color-red-500 : #E5646C;

/* hover variables */
$color-active-600: #4A50D6;